[submodule "Hackathon/Kamazon"]
	path = Hackathon/Kamazon
	url = https://github.com/kamjohn777/Kamazon.git
[submodule "Backend/Task-Manager"]
	path = Backend/Task-Manager
	url = https://github.com/kamjohn777/Task-manager.git
[submodule "Deployment/Responsive-blog-jQuery"]
	path = Deployment/Responsive-blog-jQuery
	url = https://github.com/kamjohn777/Responsive-blog-jQuery.git
[submodule "Frontend/overcome-fitness"]
	path = Frontend/overcome-fitness
	url = https://github.com/kamjohn777/overcome-fitness-site-proto.git
[submodule "Fullstack/splash-was-final"]
	path = Fullstack/splash-was-final
	url = https://github.com/kamjohn777/splash-was-final.git
